@mixin button($color: red, $bg: green) {
    display: block;
    padding: 1px 10px;
    text: {
        decoration: none;
        transform: uppercase;
    }
    background: $bg;
    color: $color;
}


.primary-button {
    @include button($bg: cyan, $color: blue);
}

.secondary-button {
    @include button($color: yellow, $gb: green)
}