body {
  font-size: 3rem;
}

.section-one,
.section-two,
.section-three {
  text-align: center;
  padding: 25vh 0;
}

@mixin gradient($deg, $from, $to) {
  background: linear-gradient($deg, $from, $to);
}

@mixin pseudo($width: 200px, $height: 1px, $bg: orange) {
  &::after {
    content: '';
    display: block;
    width: $width;
    height: $height;
    background: $bg;
    margin: 0 auto;
  }
}

@mixin button($color, $bg, $hvr-color, $hvr-bg) {
  padding: .3em 1em;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $bg;
  color: $color;
  &:hover {
    background-color: $hvr-bg;
    color: $hvr-color;
  }

}
.section-one {
  @include gradient(45deg, blue, red);
}

.section-two {
  @include gradient(150deg, #177e89, #084c61);
}

.section-three {
  @include gradient(250deg, lightskyblue, deepskyblue);
}

.title {
  position: relative;
  margin-bottom: 10px;
  @include pseudo($width: 150px, $height: 1px, $bg: white);
}

.button-one {
  @include button($color: black, $bg: green, $hvr-color: white, $hvr-bg: red);
}

.button-two {
  @include button($color: blue, $bg: yellow, $hvr-color: white, $hvr-bg: red);
}

.button-three {
  @include button($color: white, $bg: black, $hvr-color: white, $hvr-bg: red);
}