@mixin button($color, $bg) {
    display: block;
    padding: 1px 10px;
    text: {
        decoration: none;
        transform: uppercase;
    }
    background: $bg;
    color: $color;
}


.primary-button {
    @include button(red, blue);
}