@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

// Colors
$white: #fff;
$light-gray: rgba(0,0,0,.15);
$dark-gray: rgba(0,0,0,.5);
$green: #72b01d;

$clr-accent: $green;
$clr-body: $dark-gray;
$clr-heading: $clr-accent;

// Tyography
$ff: 'Raleway', sans-serif;

$fw-l: 300;
$fw-n: 400;
$fw-b: 700;

$fs-h2: (48/16) * 1rem;
$fs-body: (24/16) * 1rem;
$fs-xl: (72/16) * 1rem;
$fs-sm: (16/16) * 1rem;

$ls: 5px;

// helpers
$spacer: 1rem;
$bs: 0 0 $spacer $light-gray;

// General Styles

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $ff;
    font-size: $fs-body;
    color: $clr-body;
}

h2 {
    font-size: $fs-h2;
    color: $clr-heading;
    letter-spacing: $ls;
    text-transform: uppercase;
}

// Buttons
.button {
    display: inline-block;
    padding: ($spacer * 2) ($spacer * 6);
    text-decoration: none;
    text-transform: uppercase;
    border: solid 1px $clr-body;
    background-color: $clr-body;
    color: white;
    font-weight: $fw-b;
}
.pricing {
    text-align: center;
}

.prices {
    // display: flex;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.price {
    background: $white;
    box-shadow: $bs;
    padding: 5 * $spacer;
    &__title {
        color: $clr-accent;
        letter-spacing: $ls;
        text-transform: uppercase;
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__list-item {
        &:not(:last-of-type)::after {
            display: block;
            content: '';
            height: 2px;
            background: $light-gray;
            margin: ($spacer * 2) 0
        }
    }
    &__cost {
        font-size: $fs-xl;
        font-weight: $fw-b;
        color: $clr-accent;

        span {
            font: {
                size:  $fs-body;
                weight: $fw-l;
            }
        }
    }
}