/* =|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|

   Colors you can use: 
   #938581  #75C9C8  #FCFFFD

=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|

   All colors, the box-shadow, and the border-radius
   must be set-up as variables.

=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=| */

$color1: #938581;
$color2: #75C9C8;
$color3: #FCFFFD;

* { box-sizing: border-box; }

body {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.6;

  /* this is being used to center the card on the screen */
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  width: 60%;
  padding: 2em;
  box-shadow: 0 0 15px $color1;
  border-radius: 10px;
  &__title {
    color: $color1;
  }
}

.btn {
  display: inline-block;
  padding: 15px 45px;
  text-decoration: none;
  border-radius: 10px;
  transition: box-shadow 150ms, background-color 150ms;
  /* button styles start here */
  &__primary {
    border: 2px solid $color1;
    background-color: $color1;
    color: $color3;
    &:hover {
      background-color: $color2;
      box-shadow: 0 0 15px $color1;
    }
  }
  &__outline {
    background-color: $color2;
    border: 2px solid $color2;
    color: $color3;
    &:hover {
      color: $color3;
      background-color: $color1;
      box-shadow: 0 0 15px $color1;
    }
  }

  /* button styles end here */
}