@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,900');

// css reset

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// VARIABLES
$clr-dark-green: #11998e;
$clr-bright-green: #38ef7d;
$clr-orange: #ff715b;
$clr-white: white;

$ff-ss: 'Raleway', sans-serif;
$fw-bold: 900;
$fw-normal: 500;
$fw-light: 300;

// MIXINS
@mixin box-shadow($ho, $vo, $blur, $color) {
    box-shadow: $ho $vo $blur $color;
}

@mixin font($fs, $fw, $clr: $clr-white, $lh: 1.5, $ff: $ff-ss) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
    color: $clr;
}

@mixin button($clr, $bg, $padding: .5em 1.25em) {
    display: inline-block;
    text-decoration: none;
    padding: $padding;
    color: $clr;
    background: $bg;
}

body {
    height: 100vh;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 700px;
    background: linear-gradient(-45deg, $clr-dark-green, $clr-bright-green);
    @include box-shadow(0,0,25px,rgba(black, .5));
    padding: 2em;
    padding-left: 12em;
    border-radius: 9px;
    position: relative;

    &__title {
        @include font(69px, $fw-bold);
        text-transform: uppercase;
        margin-bottom: .3em;
    }
    &__image {
        position: absolute;
        left: -160px;
        top: 4.5em;
    }
    &__price {
        @include font(60px, $fw-light);
        margin-bottom: .2em;
        & span {
            @include font(30px, $fw-light);
        }
    }
    &__desc {
        @include font(24px, $fw-normal, rgba(black, .6));
        margin-bottom: .5em;
    }

}

.btn {
    @include button($clr-white, transparent);
    @include font(18px, $fw-normal, $clr-white);
    border-radius: 10px;
    &--accent {
        background: $clr-orange;
        @include box-shadow(0,0,10px,rgba(black, 0.1));
        transition: box-shadow ease-out 300ms;
        &:hover {
            @include box-shadow(0,0,10px,rgba(black, 0.5));
        }
    }
}